@model List<ITI_MVC.Controllers.HomeController.RouteInfo>

<h2>Available Routes</h2>
<ul>
    @foreach (var route in Model)
    {
        <li>
            
                
            <a href="@($"{route.Controller}/{route.Action}")">
                @($"{route.Controller}/{route.Action}")
            </a>
            
        </li>
    }
</ul>
