@model List<ITI_MVC.Controllers.HomeController.RouteInfo>

<h2>Available Routes</h2>

    @foreach (var route in Model)
    {
    <h1>@route.Controller</h1>
    foreach(var action in route.Actions)
    {
        
    <ul>
        <li>

            <h3>

                <a href="@($"{route.Controller}/{action}")">
                    @($"{route.Controller}/{action}")
            </a>
            </h3>
            
        </li>
    </ul>
    }
    <br />
    }

